p {
	color: rgb(138, 84, 53);
} 
h1 {
	color: greenyellow;
	font-family: "Comic Sans MS";
}
h2 {
	color: red;
	font-family: "Comic Sans MS";
}
h3 {
	color: rgb(235, 169, 94);
	font-family: "Comic Sans MS";
}
td {
	width: 100px;
	height: 50px;
}
th {
	text-align: left;
}

table {
	width: 400px;
}
h2 {
	font-weight: bold;
}
p {
	font-weight: normal;
	font-size: 17px;
	font-family: "Comic Sans MS";
	text-indent: 40px;
	text-decoration: underline;
}