*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid;
}

.menu{
    display: flex;
    align-items: center;
}

.menu{
    justify-content: space-between;
    width: 500px;
}

.icon{
    height: 30px;
    width: 30px;
}

.logo{
    height: 100px;
    width: 100px;
}